.container-fluid {
  min-height: 80vh;

  ul,
  li {
    background-color: transparent;
    border: none;
  }

  .buttonTags:hover,
  .buttonTags:active {
    background-color: green;
  }

  button.active {
    background-color: red;
    color: white;
  }

  .imgCarousel {
    width: 100%;
  }

  .carousel-caption {
    p {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
