<div class="container-fluid">
  <div class="row">
    <div class="col-12 px-0">
      <splide class="d-none d-lg-block">
        <splide-slide *ngFor="let lightNovel of lightNovelsArray">
          <a routerLink="/lightNovelDetails/{{ lightNovel.id }}">
            <img
              class="imgCarousel"
              [src]="
                '../../../assets/img/lightNovelImg/' + lightNovel.slug + '.png'
              "
              alt="{{ lightNovel.title }}"
            />
            <div class="carousel-caption d-none d-md-block p-0">
              <p class="text-white mb-0">{{ lightNovel.title }}</p>
            </div>
          </a>
        </splide-slide>
      </splide>
    </div>

    <div class="col"></div>
  </div>
  <section class="row mt-4">
    <div class="col d-flex align-items-center m-2">
      <div class="me-2">
        <h6 class="mb-0">FILTER BY:</h6>
      </div>
      <div class="d-none d-md-block">
        <button
          class="btn btn-warning btn-sm me-2 my-1 buttonTags"
          [ngClass]="{ active: activeIndex === i }"
          (click)="handleButtonClick(i, genre)"
          *ngFor="let genre of genres; let i = index"
        >
          {{ genre }}
        </button>
      </div>
      <div class="d-md-none">
        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btn btn-outline-warning"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            <i class="bi bi-list-ul"></i>
            Generi
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button
              ngbDropdownItem
              class="buttonTags"
              [ngClass]="{ active: activeIndex === i }"
              (click)="handleButtonClick(i, genre)"
              *ngFor="let genre of genres; let i = index"
            >
              {{ genre }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="row">
    <div
      class="col-12 col-md-6 col-xl-4"
      *ngFor="let lightNovel of filteredLightNovelsArray; let i = index"
    >
      <app-card-home
        [lightNovelCard]="lightNovel"
        [ngStyle]="{
          position: 'relative',
          'z-index': filteredLightNovelsArray.length - i
        }"
      ></app-card-home>
    </div>
  </div>
</div>
