<div
  class="container-fluid"
  [ngStyle]="{
    backgroundImage: 'url()'
  }"
>
  <div class="row">
    <div class="col-12">
      <h2>AREA CAROSELLO</h2>
      <splide>
        <splide-slide *ngFor="let lightNovel of lightNovelsArray">
          <a routerLink="/lightNovelDetails/{{ lightNovel.id }}">
            <img
              [src]="
                '../../../assets/img/lightNovelImg/' +
                replaceSpacesWithDashes(lightNovel.title) +
                '.png'
              "
              alt="{{ lightNovel.title }}"
            />
            <p class="bg-dark text-white">{{ lightNovel.title }}</p>
          </a>
        </splide-slide>
      </splide>
    </div>

    <div class="col"></div>
  </div>
  <section class="row mt-4">
    <div class="col d-flex align-items-center">
      <div class="me-2">
        <h6>FILTER BY:</h6>
      </div>
      <div>
        <button
          class="btn btn-secondary btn-sm me-2 buttonTags"
          *ngFor="let genre of genres"
          (click)="selectedGenre(genre)"
        >
          {{ genre }}
        </button>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="col-12">
      <div>
        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            <i class="bi bi-list-ul"></i>
            Generi
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button
              ngbDropdownItem
              (click)="selectedGenre(genre)"
              *ngFor="let genre of genres"
            >
              {{ genre }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>LIGHT NOVEL DI STO CA..</h2>
    </div>
    <div class="col" *ngFor="let lightNovel of lightNovelsArray">
      <app-card-home [lightNovelCard]="lightNovel"></app-card-home>
    </div>
  </div>
</div>
