<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Navbar</a>
    <button
      (click)="show = !show"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="bi bi-list"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      [ngClass]="{ show: show }"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <a
            class="nav-link"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/home"
            routerLinkActive="active"
          >
            Home
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn$ | async">
          <a
            class="nav-link"
            routerLink="/profile/createLightNovel"
            routerLinkActive="active"
          >
            Create Light Novel
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn$ | async">
          <a
            class="nav-link"
            routerLink="/profile/favourites"
            routerLinkActive="active"
          >
            Favorites LightNovels
          </a>
        </li>
        <li class="nav-item">
          <a
            *ngIf="isLoggedIn$ | async"
            class="nav-link"
            routerLink="/profile/myLightNovels"
            routerLinkActive="active"
          >
            My lightNovels
          </a>
        </li>
        <li class="nav-item">
          <a
            *ngIf="isLoggedIn$ | async"
            class="nav-link"
            routerLink="/profile/viewed"
            routerLinkActive="active"
          >
            Viewed
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn$ | async">
          <a class="nav-link" routerLink="/users" routerLinkActive="active">
            Users
          </a>
        </li>
      </ul>
      <div
        *ngIf="isLoggedIn$ | async; else loggedOut"
        class="d-flex align-items-center"
      >
        <form class="d-flex" role="search">
          <input
            class="form-control me-2 colorInput"
            type="search"
            placeholder="Search"
            aria-label="Search"
            (input)="onSearch($event)"
          />
        </form>

        <div class="">
          <a routerLink="/profile">
            <img
              id="profile"
              [src]="user?.userImage"
              alt="mdo"
              class="rounded-circle"
            />
          </a>
        </div>
        <div ngbDropdown class="d-inline-block" placement="bottom-end">
          <button
            type="button"
            class="btn"
            id="dropdownBasic1"
            ngbDropdownToggle
          ></button>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            class="dropdown-menu-end"
          >
            <button ngbDropdownItem routerLink="/profile">Profile</button>
            <hr />
            <button ngbDropdownItem (click)="logout()">Sign out</button>
          </div>
        </div>
      </div>
      <ng-template #loggedOut>
        <div class="d-flex">
          <a class="nav-link" routerLink="/auth/login" routerLinkActive="active"
            >Login</a
          >
          <a
            class="nav-link ms-3"
            routerLink="/auth/register"
            routerLinkActive="active"
            >Register</a
          >
        </div>
      </ng-template>
    </div>
  </div>
</nav>
