

td{
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  color: white;
}

  p{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .table td, .table th {
    vertical-align: middle;
  }
th{
  background-color: #3b435e9f;
  color: white;
  p{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
table {
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 20px 1px 100px black !important;
  margin-top: 3vh;
  border: 1px solid rgba(255, 255, 255, 0.205);
}

.img_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 8px 20px gray !important;
  }
}

#actions_btns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  #delete_btn{
    background-color: rgba(255, 0, 0, 0.726);
    color: white;
  }
  #upgrade_btn{
    background-color:rgba(0, 128, 0, 0.692);
    color: white;
  }
  #downgrade_btn{
    background-color: yellow;
    color: black;
  }
}




