<div class="container justify-content-center d-flex text-white">
  <div class="row">
    <div class="col-12">
      <h1>Pagina Utenti</h1>
    </div>
  </div>
</div>
<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col"><p>Avatar</p></th>
      <th scope="col"><p>Name</p></th>
      <th scope="col"><p>Role</p></th>
      <th scope="col"><p>Gender</p></th>
      <th scope="col"><p>Username</p></th>
      <th scope="col"><p>Email</p></th>
      <th scope="col"><p>Actions</p></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td class="img_wrapper">
        <img [src]="user.userImage" alt="icon" />
      </td>
      <td>
        <h5 class="card-title">{{ user.name }} {{ user.surname }}</h5>
      </td>
      <td>
        <p class="card-text">{{ user.role === "auth" ? "user" : user.role }}</p>
      </td>
      <td>
        <p class="card-text">{{ user.gender }}</p>
      </td>
      <td>
        <p class="card-text">{{ user.username }}</p>
      </td>
      <td>
        <p class="card-text">{{ user.email }}</p>
      </td>
      <td
        class="d-flex justify-content-center align-items-center flex-grow-1 w-100"
      >
        <div id="actions_btns">
          <button
            id="delete_btn"
            class="btn mx-1"
            (click)="openDeleteModal(user, deleteModal)"
            *ngIf="user.role !== 'admin'"
          >
            <i class="bi bi-trash"></i>
          </button>
          <button
            id="upgrade_btn"
            class="btn mx-1"
            *ngIf="user.role === 'auth'"
            (click)="upgradeUser(user.id)"
          >
            <i class="bi bi-arrow-up"></i>
          </button>
          <button
            id="downgrade_btn"
            class="btn mx-1"
            *ngIf="user.role === 'sub-admin'"
            (click)="downgradeUser(user.id)"
          >
            <i class="bi bi-arrow-down"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Are you sure about that?</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    Are you sure you want to delete the user
    <strong>{{ userToDelete?.firstName }}</strong
    >? To confirm, type the user's name:
    <input
      type="text"
      [(ngModel)]="confirmName"
      class="form-control mt-2"
      placeholder="type username..."
    />
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.dismiss('cancel click')"
    >
      Cancel
    </button>
    <button
      class="btn btn-danger"
      [disabled]="confirmName !== userToDelete.username"
      (click)="confirmDelete(modal)"
    >
      Delete
    </button>
  </div>
</ng-template>
