<div class="container mt-4">
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">Avatar</th>
        <th scope="col">Nome Utente</th>
        <th scope="col">Cognome utente</th>
        <th scope="col">Genere</th>
        <th scope="col">Username</th>
        <th scope="col">email</th>
        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>
          <div class="text-center">
            <img
              src="http://place-hold.it/300"
              alt="icon"
              class="rounded-circle"
              style="width: 24px; height: 24px"
            />
          </div>
        </td>
        <td>{{ user.name }}</td>
        <td>{{ user.surname }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button
            class="btn btn-danger mx-1"
            (click)="openDeleteModal(user, deleteModal)"
            ngbTooltip="Delete User"
            placement="top"
          >
            <i class="bi bi-trash"></i>
          </button>
          <button
            class="btn btn-success mx-1"
            *ngIf="user.role === 'auth'"
            (click)="upgradeUser(user.id)"
            ngbTooltip="Upgrade User"
            placement="top"
          >
            <i class="bi bi-arrow-up"></i>
          </button>
          <button
            class="btn btn-warning mx-1"
            *ngIf="user.role === 'sub-admin'"
            (click)="downgradeUser(user.id)"
            ngbTooltip="Downgrade User"
            placement="top"
          >
            <i class="bi bi-arrow-down"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Conferma Eliminazione</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    Are you sure you want to delete the user
    <strong>{{ userToDelete?.firstName }}</strong
    >? To confirm, type the user's name:
    <input
      type="text"
      [(ngModel)]="confirmName"
      class="form-control mt-2"
      placeholder="Inserisci il nome utente per confermare"
    />
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.dismiss('cancel click')"
    >
      Cancel
    </button>
    <button
      class="btn btn-danger"
      [disabled]="confirmName !== userToDelete.username"
      (click)="confirmDelete(modal)"
    >
      Delete
    </button>
  </div>
</ng-template>
