<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-10 col-lg-8">
      <section class="form-signin m-auto mt-5">
        <form [formGroup]="createLightNovelForm">
          <h1 class="h3 text-center mb-3 fw-normal">Crea la tua Light Novel</h1>

          <label for="title">Inserisci il titolo</label>
          <input
            type="text"
            formControlName="title"
            class="form-control"
            placeholder="Write your title..."
            name="title"
            id="title"
          />
          <p *ngIf="isTouchedInvalid('title')">
            Inserisci correttamente il titolo
          </p>

          <label for="plot">Inserisci una breve trama</label>
          <textarea
            name="plot"
            formControlName="plot"
            class="form-control"
            id="plot"
          ></textarea>
          <p *ngIf="isTouchedInvalid('plot')">
            Inserisci correttamente la trama
          </p>
          <label for="description">Inserisci una breve descrizione</label>
          <textarea
            name="description"
            formControlName="description"
            class="form-control"
            id="description"
          ></textarea>
          <p *ngIf="isTouchedInvalid('description')">
            Inserisci correttamente la descrizione
          </p>

          <label for="author">Inserisci l'autore</label>
          <input
            type="text"
            formControlName="author"
            class="form-control"
            placeholder="Write your author..."
            name="author"
            id="author"
          />
          <p *ngIf="isTouchedInvalid('author')">
            Inserisci correttamente il nome dell'autore
          </p>

          <div formArrayName="genre">
            <div *ngFor="let genre of genreArr; let i = index">
              <label for="{{ genre }}">{{ genre }}</label>
              <input type="checkbox" [formControlName]="i" id="{{ genre }}" />
            </div>
          </div>

          <label for="file">Inserisce la copertina della Light-novel</label>
          <input
            type="file"
            formControlName="image_url"
            class="form-control"
            id="file"
          />

          <div formGroupName="story">
            <!-- racconto storia iniziale-->
            <label for="part1">Inserisci la prima sezione interattiva</label>
            <input
              type="text"
              formControlName="part1"
              class="form-control"
              placeholder="Write the section interactive..."
              id="part1"
            />

            <p *ngIf="isTouchedInvalid('story.part1')">
              Inserisci correttamente la parte interattiva
            </p>

            <div formGroupName="firstChoice">
              <label for="firstChoice1"
                >Inserisci la seconda sezione (C1) interattiva</label
              >
              <!--scelta 1 prima parte-->
              <input
                type="text"
                formControlName="choice1"
                class="form-control"
                placeholder="Write the choice interactive..."
                id="firstChoice1"
              />
              <p *ngIf="isTouchedInvalid('story.firstChoice.choice1')">
                Inserisci correttamente la parte interattiva
              </p>

              <label for="firstChoice2"
                >Inserisci la seconda sezione (C2) interattiva</label
              >
              <!--scelta 2 prima parte-->
              <input
                type="text"
                formControlName="choice2"
                class="form-control"
                placeholder="Write the choice interactive..."
                id="firstChoice2"
              />
              <p *ngIf="isTouchedInvalid('story.firstChoice.choice2')">
                Inserisci correttamente la parte interattiva
              </p>
            </div>

            <div formGroupName="part2">
              <label for="part2A"
                >Inserisci la seconda sezione (2A) interattiva</label
              >
              <!-- storia 2a-->
              <input
                type="text"
                formControlName="part2A"
                class="form-control"
                placeholder="Write the section interactive..."
                id="part2A"
              />
              <p *ngIf="isTouchedInvalid('story.part2.part2A')">
                Inserisci correttamente la parte interattiva
              </p>

              <label for="part2B"
                >Inserisci la seconda sezione (2B) interattiva</label
              >
              <!-- storia 2b-->
              <input
                type="text"
                formControlName="part2B"
                class="form-control"
                placeholder="Write the section interactive..."
                id="part2B"
              />
              <p *ngIf="isTouchedInvalid('story.part2.part2B')">
                Inserisci correttamente la parte interattiva
              </p>
            </div>

            <div formGroupName="secondChoice">
              <!-- scelste seconda parte-->

              <label for="choice1"
                >Inserisci la seconda sezione (C2a) interattiva</label
              >
              <!--scelta 1 seconda parte-->
              <input
                type="text"
                formControlName="choice1"
                class="form-control"
                placeholder="Write the choice interactive..."
                id="choice1"
              />
              <p *ngIf="isTouchedInvalid('story.secondChoice.choice1')">
                Inserisci correttamente la parte interattiva
              </p>

              <label for="choice2"
                >Inserisci la seconda sezione (C2b) interattiva</label
              >
              <!-- scelta 2 seconda parte-->
              <input
                type="text"
                formControlName="choice2"
                class="form-control"
                placeholder="Write the choice interactive..."
                id="choice2"
              />
              <p *ngIf="isTouchedInvalid('story.secondChoice.choice2')">
                Inserisci correttamente la parte interattiva
              </p>

              <label for="choice3"
                >Inserisci la seconda sezione (C2c) interattiva</label
              >
              <!--scelta 3 seconda parte-->
              <input
                type="text"
                formControlName="choice3"
                class="form-control"
                placeholder="Write the choice interactive..."
                id="choice3"
              />
              <p *ngIf="isTouchedInvalid('story.secondChoice.choice3')">
                Inserisci correttamente la parte interattiva
              </p>

              <label for="choice4"
                >Inserisci la seconda sezione (C2d) interattiva</label
              >
              <!--scelta 4 seconda parte-->
              <input
                type="text"
                formControlName="choice4"
                class="form-control"
                placeholder="Write the choice interactive..."
                id="choice4"
              />
              <p *ngIf="isTouchedInvalid('story.secondChoice.choice4')">
                Inserisci correttamente la parte interattiva
              </p>
            </div>

            <div formGroupName="part3">
              <label for="part3A"
                >Inserisci la terza sezione (3A) interattiva</label
              >
              <input
                type="text"
                formControlName="part3A"
                class="form-control"
                placeholder="Write the section interactive..."
                id="part3A"
              />
              <p *ngIf="isTouchedInvalid('story.part3.part3A')">
                Inserisci correttamente la parte interattiva
              </p>
              <label for="part3B"
                >Inserisci la terza sezione (3B) interattiva</label
              >
              <input
                type="text"
                formControlName="part3B"
                class="form-control"
                placeholder="Write the section interactive..."
                id="part3B"
              />
              <p *ngIf="isTouchedInvalid('story.part3.part3B')">
                Inserisci correttamente la parte interattiva
              </p>
              <label for="part3C"
                >Inserisci la terza sezione (3C) interattiva</label
              >
              <input
                type="text"
                formControlName="part3C"
                class="form-control"
                placeholder="Write the section interactive..."
                id="part3C"
              />
              <p *ngIf="isTouchedInvalid('story.part3.part3C')">
                Inserisci correttamente la parte interattiva
              </p>
              <label for="part3D"
                >Inserisci la terza sezione (3D) interattiva</label
              >
              <input
                type="text"
                formControlName="part3D"
                class="form-control"
                placeholder="Write the section interactive..."
                id="part3D"
              />
              <p *ngIf="isTouchedInvalid('story.part3.part3D')">
                Inserisci correttamente la parte interattiva
              </p>
            </div>
          </div>

          <button (click)="addLightNovel()" class="btn btn-primary">
            Crea
          </button>
          <button (click)="updateLightNovel()" class="btn btn-primary">
            Modifica
          </button>
          <button (click)="cleanForum()" class="btn btn-primary">Svuota</button>
        </form>
      </section>
    </div>
  </div>
</div>
