<div class="d-flex bg-white text-black">
  <div>
    <a routerLink="/lightNovelDetails/{{ lightNovelCard.id }}">
      <img
        [src]="
          '../../../assets/img/lightNovelImg/' + lightNovelCard.slug + '.png'
        "
        class="card-img-left"
        alt="{{ lightNovelCard.title }}"
      />
    </a>
  </div>
  <div>
    <a routerLink="/lightNovelDetails/{{ lightNovelCard.id }}">
      <h5 class="card-title">{{ lightNovelCard.title }}</h5>
    </a>
    <p class="card-text">{{ lightNovelCard.description }}</p>
  </div>
</div>
