<div class="container-fluid imgBG" *ngIf="user">
  <div class="row">
    <div class="col text-light mt-4 text-center">
      <h2 class="mb-2 fst-italic">Ciao {{ user.name }}!</h2>
    </div>
  </div>
  <div class="row text-light mt-4">
    <div class="col-12 fst-italic">
      <h1>Qui ci sono tutte le tue lightNovel preferite:</h1>
    </div>
    <div
      class="col"
      *ngFor="let lightNovel of favouriteLightNovelArray; let i = index"
    >
      <app-card-home
        [lightNovelCard]="lightNovel"
        [ngStyle]="{
          position: 'relative',
          'z-index': favouriteLightNovelArray.length - i
        }"
      ></app-card-home>
    </div>
  </div>
</div>
