<div class="container-fluid">
  <div class="row">
    <div
      *ngFor="let novel of novels"
      class="col-12 col-sm-6 col-md-4 col-lg-2 d-flex justify-content-center"
    >
      <div class="card mb-3" style="max-width: 18rem; margin: 1rem">
        <a routerLink="/lightNovelDetails/{{ novel.id }}">
          <img
            [src]="'../../../assets/img/lightNovelImg/' + novel.slug + '.png'"
            class="card-img-top img-fluid"
            alt="{{ novel.title }}"
          />
        </a>
        <div class="card-body">
          <div class="d-flex align-items-center text-white">
            <a id="no_line" routerLink="/lightNovelDetails/{{ novel.id }}">
              <h5 class="card-title text-white">{{ novel.title }}</h5>
            </a>
          </div>
          <div>
            <small class="card-text text-white">{{ novel.created_at }}</small>
            <p class="card-text text-white">{{ novel.description }}</p>
            <div class="d-flex justify-content-end">
              <i
                (click)="redirectCreate(novel)"
                class="bi bi-pencil text-white"
              ></i>
              <i
                (click)="deleteLightNovel(novel)"
                class="bi bi-trash text-white"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
