.container {
  width: 400px;
  border: 10px solid black a {
    text-decoration: none;
  }

  img {
    height: 120px;
    width: 120px;
    padding-bottom: 5px;
  }

  span {
    border-radius: 20%;
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
  }

  .bi {
    color: black;
  }

  .description {
    border-top: solid 2px green;
  }
}

.pColorato {
  margin: 0;
  color: green;
}

span {
  color: black;
}

.container:hover {
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
}
