<div class="container bg-white text-black">
  <div class="row">
    <div class="col">
      <h2 class="card-title">{{ lightNovelCard.title }}</h2>
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-6">
      <a routerLink="/lightNovelDetails/{{ lightNovelCard.id }}">
        <img
          [src]="
            '../../../assets/img/lightNovelImg/' + lightNovelCard.slug + '.png'
          "
          class="card-img-left"
          alt="{{ lightNovelCard.title }}"
        />
      </a>
    </div>
    <div class="col-6">
      <p>
        Author: <span>{{ lightNovelCard.author }}</span>
      </p>
      <p>
        Genere: <span>{{ formatGenre(lightNovelCard.genre) }}</span>
      </p>
      <p>
        Created: <span>{{ lightNovelCard.created_at }}</span>
      </p>
    </div>
  </div>
  <div class="row description pt-2">
    <div class="col">
      <a routerLink="/lightNovelDetails/{{ lightNovelCard.id }}"> </a>
      <p class="card-text">{{ lightNovelCard.description }}</p>
    </div>
  </div>
</div>
