a {
  text-decoration: none;
}
.card {
  border: none;
  position: relative;
  backdrop-filter: blur(16px);
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;

  img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 1em;
  }

  span {
    border-radius: 20%;
    padding-inline: 0.5rem;
    padding-block: 0.25rem;
  }
  h5 {
    color: #addad1;
  }
  .bi {
    color: black;
  }

  a.img-link {
    display: block;
  }

  app-tooltip-card {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  & .img-link:hover + app-tooltip-card {
    display: block;
  }
}
